* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Back to top smooth scroll */
html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
  box-shadow: 2px 2px 10px gray;
}

nav img {
  width: 200px;
}

nav .nav_links ul li {
  display: inline-block;
  margin: 0 1.5rem;
}

.nav_links ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.nav_links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav_links ul li:hover::after {
  width: 100%;
}

nav .fas {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10rem;
}

.column {
  flex: 20%;
}
.column img {
  padding: 2px;
  width: 100%;
  vertical-align: middle;
}

@media (max-width: 700px) {
  nav {
    padding: 1rem 2rem;
  }
  nav img {
    width: 150px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
  }
  .column {
    flex: 30%;
  }

  nav .nav_links {
    position: fixed;
    background: whitesmoke;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 1;
    transition: 0.5s;
  }
  nav .fas {
    display: block;
    color: black;
    font-size: 24px;
    cursor: pointer;
  }
  .nav_links ul {
    margin-top: 0.5rem;
  }
  .nav_links ul li a {
    font-size: 1.2rem;
  }

  nav .fa-times {
    margin-left: 76%;
    margin-top: 18%;
  }
}

/*-----Packages-------*/

.package {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.package h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem auto;
  font-weight: 500;
}
.package p {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.package .pricecards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.package .pricecards .cards {
  flex-basis: 40%;
  border-radius: 10px;
  margin: 2rem 2rem;
  padding: 2rem 4rem;
  box-shadow: 0 0 5px 0 slategray;
}
.package .pricecards .cards h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem;
}
.package .pricecards .cards h4 {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0;
}
.package .pricecards .cards ul li {
  text-align: justify;
  padding: 0.2rem 0;
  margin-left: 0.7rem;
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.2rem;
  }
  .pricecards {
    flex-direction: column;
  }
  .package .pricecards {
    width: 80%;
  }
}

/*-----Contact form-------*/

.contact-us {
  text-align: center;
}

.contact-us h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem auto;
  font-weight: 500;
}

.contact-us p {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  margin: 2rem 0;
}

.contact-col {
  text-align: center;
}

.contact-col input,
.contact-col textarea {
  width: 30%;
  margin-bottom: 18px;
  padding: 10px;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
}
.btn {
  position: relative;
  width: 10%;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.5s;
}

.btn:hover {
  background-color: black;
  color: aliceblue;
}

@media (max-width: 700px) {
  .contact-us p {
    font-size: 14px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .contact-col input,
  .contact-col textarea {
    width: 80%;
  }
  .btn {
    width: 40%;
  }
}

/*-----Footer-------*/

footer {
  text-align: center;
  padding: 2rem 0;
}

.back-to-top a {
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}
.back-to-top a:hover {
  color: black;
}
.back-to-top .arrow {
  display: inline-block;
  font-size: 32px;
  margin-right: 3px;
}

.social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.social-icons .fab {
  font-size: 24px;
  color: #999999;
  padding: 0 1rem;
}

.social-icons .fab:hover {
  color: black;
}

@media only screen and (max-width: 700px) {
  .social-icons .fab {
    margin: 4% 4%;
  }
}
